html{
    
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    background-color:rgba(248, 187, 131, 0.23);
}

body{
    margin:0;
    padding:0;
    overscroll-behavior-x: none;
    overflow-x: none;
}
header{
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logoheader h1{
    font-size: 2.6rem;
    padding-left: 2rem;
}
.logoheader h1::before{
    content:url(./emojione_japanese-symbol-for-beginner.svg);
    display: inline-block;
}

header ul {
    list-style: none;
    display:flex;
    padding-right: 3rem;
}

header ul li{
    padding-left: 25px;
}

header ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color:black;
}

.absolutebckgrnd{
    width: 380px;
    height: 90px;
    background-color: #FF926B;
    position: absolute;
    z-index: -1;
    top:-10px;
    right: -1.1rem;
}

.featureweprovide{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.box{
    width: 400px;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
}


.box h3{
    font-size: 1.5rem;
}

.box h4{
    font-size: 1.2rem;
    color:gray;
}

.box .photo{
    background-color:rgba(255, 146, 107, 1);
    display:block;
    padding: 1.3em;
    margin-right: 1rem;
    margin:1rem;
}

.container{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.basliq{
    font-size: 2.2rem;
    font-weight: 900;
    display: inline-block;
}

.basliq2{
font-size: 1.8rem;
font-weight: 200;
display: inline-block;
}

.steptwo{
    padding:0;
    margin-top: 0.9rem;
    width: 100vw;
    display:flex;
    justify-content: space-between;
}

.digitalphoto{
    padding-right: -2rem;
}

.digital{
    padding-left:2rem;
    align-self: center;
    margin-top:-20px;
}

.digital h2{
    font-size: 3.5rem;
    font-weight: 700;
}

.digital h3{
    font-size: 2rem;
    font-weight: 200;
    
}



.digital a{
    text-decoration: none;
    display: inline-block;
    background-color:rgba(255, 146, 107, 1) ;
    color:white;
    font-size: 1.8em;
    padding:1em;
    margin-top: 1rem;
}

.digital img{
    padding-top: 1rem;
}

.standout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photomixedbox{
    width: 250px;
    height: 320px;
    background-image: url(./Mask\ Group.svg);
    background-size:cover;
    background-color:rgba(235, 99, 131, 1) ;
}

.marketing{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.marketing h2{
    font-size: 1.4rem;
}

.marketing p{
    font-size: 1.1rem;
}

.marketing a{
    color:black;
    font-size: 1.4rem;
}

.content{
    box-sizing: border-box;
    padding-left: 1.4rem;
    padding-top: 2rem;
}
  

.photomixedbox2{
    width: 250px;
    height: 320px;
    background-image: url(./Mask\ Group\ \(1\).svg);
    background-size:cover;
    background-color:rgba(38, 231, 161, 1) ;
}

.photomixedbox3{
    width: 400px;
    height: 200px;
    background-image: url(./Mask\ Group\ \(2\).svg);
    background-size:cover;
    background-color: rgba(255, 195, 139, 1);
    margin-top: 1.3rem;
}

#differentp{
    width: 190px;
}

.someresults{
    margin-top: 2rem;
    background-color: white;
    display:flex;
    justify-content: space-around;
}

.triple{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding-top: 2rem;
}

.triple img{
    width: 32px;
    height: 32px;
}

.triple a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    color:rgba(235, 99, 131, 1);
}

.triple h3{
    font: 0.7rem;
    color: gray;
}

.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedbackcontent{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    margin-top:2rem;
    background-color:rgba(240, 158, 177, 0.411) ;
    position: relative;
    border-radius: 8px;
}

.feedbackcontent h3{
    font-size: 1rem;
}

.slides{
    width: 115%;
    display:flex;
    justify-content: space-between;
    position: absolute;
}

